*,
*::after,
*::before {
  box-sizing: border-box;
}


::selection {
  background: #080f5b;
  color: #fff;
}

body {
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 62.5%;
}


#root {
  font-size: 2rem;
  line-height: 1.5;
  background-color: #0d19a3;
}

h1,
h2,
h3 {
  font-family: 'Ubuntu', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.3;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}
a {
  text-decoration: none;
  transition: color 0.3s ease-out;
}

a:hover {
  color: var(--color-secondary);
}

/*font-family: 'Krub', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif 
krub title
Ubuntu headings
Open Sans paragraphs*/

/* .content {
text-overflow: ellipsis;
} */

input {
  border-radius: 20px;
}


.ui.checkbox input.hidden+label {
  color: aqua;
  margin-left: 1rem;
}

.ui.card {
  background-image: url(./assets/images/card.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #0d19a3;
  font-weight: 700;
  justify-content: center;

}

.ui.cards {
  flex-direction: column !important;
  justify-content: center;
}

 .ui.card:hover {
    transform: scale(1.02);
    transition-delay: .4s ease-in-out;
  }

.ui.header {
  color: #0d19a3;
  font-weight: 700;
  padding-top: 1rem;
}

.ui.card, .ui.cards>.card {
  background-image: url('./assets/images/deck1.svg')!important;
  box-shadow: 0px 0px 5px 5px #e4c580 !important;
  border-radius: 5px;
}

.ui.grid>.row {
  justify-content: center;
}


#createDeck {
  width: 100%;
}

#decks__div {
  padding-top: 7rem;
  padding-bottom: 4rem;
}

#login__header {
  font-size: 4rem;
  font-weight: 700;
}

#login {
  padding-top: 5rem;
}

#quicksearch {
  margin-top: .3rem;
}

#side1 {
  max-width: 25rem;
  text-align: center;
  font-size: 1.5rem;
}

#side2 {
  max-width: 25rem;
  text-align: center;
  font-size: 1.5rem;
  color: purple;
}

#singleDeck__container {
  width:auto;
}



#signup {
  padding-top: 5rem;
}

#signup__header {
  font-size: 4rem;
  font-weight: 700;
}


