.checkbox {
    margin-bottom: 5rem;
    margin-top: 1rem;
    padding-right: 2rem;
}


.label {
    color:aqua !important;
}

.label__container {
    padding-top: 1rem;
    padding-bottom: .7rem;
}

.price__container {
    padding-bottom: 4rem;
}

.search__container {
    margin-top: .7rem;
    margin-bottom: 5rem;
}



  
 




